{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('style/style.css')}}">
{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="content">
        <h3 class="my-4 header">Task details</h3>

        <div class="card mb-3 myCard">
            <div class="card-header cardHeader">Task {{ todo.id }}</div>
            <img src="{{ asset('images/'~ todo.image)}}" class="card-img-top cardImg" alt="{{ todo.name }}">
            <div class="card-body">
              <h5 class="card-title">Name: {{ todo.name }}</h5>
              <p class="card-text fst-italic">Description: {{ todo.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: {{ todo.category }}</li>
                <li class="list-group-item">Priority: {{ todo.priority }}</li>
                <li class="list-group-item">Status: {{status.name}}</li>
                <li class="list-group-item">Create date: {{ todo.createDate ? todo.createDate|date('Y-m-d H:i:s') : '' }}</li>
                <li class="list-group-item">Due date: {{ todo.dueDate ? todo.dueDate|date('Y-m-d H:i:s') : '' }}</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-secondary myBtn"><a href="{{ path('app_todo_index') }}" class="linkSecondary">Back</a></button>
                <button type="button" class="btn btn-outline-warning myBtn"><a href="{{ path('app_todo_edit', {'id': todo.id}) }}" class="links">Edit</a></button>
                {{ include('todo/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
